<%= form_with(model: issue, local: true) do |f| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
        <% issue.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>

      <div class="field">
        <%= f.label :number, class: "label" %>
          <div class="control">
            <%= f.text_field :number, autofocus: true, autocomplete: "number", class: 'input' %>
          </div>
      </div>

      <div class="field">
        <%= f.label :start_date, class: "label" %>

          <div class="control">
            <%= date_select :issue, :start_date, class: 'input' %>
          </div>
      </div>

      <div class="field">
        <%= f.label :end_date, class: "label" %>

          <div class="control">
            <%= date_select :issue, :end_date, class: 'input' %>
          </div>
      </div>

      <div class="field">
        <%= f.label :pub_date, class: "label" %>

          <div class="control">
            <%= date_select :issue, :pub_date, class: 'input' %>
          </div>
      </div>

      <div class="field">
        <%= f.label :active, class: "label" %>
          <div class="control">
            <%= f.check_box :active, class: 'checkbox' %>
          </div>
      </div>

      <div class="actions">
        <%= f.submit "Submit", class:"button is-primary" %>
      </div>
      <% end %>