<%- title "Issues" %>
<section class="section">
  <div class="container">
    <p>
      <%= link_to 'Add New Issue', new_issue_path, class:'button is-primary' %>
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>Issue Number</th>
          <th>Publication Date</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Active</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @issues.each do |issue| %>
        <tr>
          <td>Issue
            <%= issue.number %>
          </td>
          <td>
            <%= issue&.pub_date&.strftime("%B %d, %Y")  %>
          </td>
          <td>
            <%= issue&.start_date&.strftime("%B %d, %Y") %>
          </td>
          <td>
            <%= issue&.end_date&.strftime("%B %d, %Y") %>
          </td>
          <td>
            <% if issue.active == true %>
            Open
            <% else %>
            Closed
            <% end %>
          </td>
          <td>
            <span class="icon">
              <%= link_to '', issue, class:'button is-link is-small fas fa-eye', alt:'View Issue' %>
            </span>
          </td>
          <td>
            <span class="icon">
              <%= link_to '', edit_issue_path(issue), id: "edit_issue_#{issue.number}", class:'button is-success is-small fas fa-pen', alt:"Edit Issue #{issue.number}" %>
            </span>
          </td>
          <td>
            <span class="icon">
              <%= link_to '', issue, class:'button is-danger is-small fas fa-times', alt:'Delete Issue', method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</section>