<%= form_with(model: work, local: true) do |form| %>
  <% if work.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(work.errors.count, 'error') %> prohibited this work from being saved:</h2>

      <ul>
        <% work.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>

      <div class="field">
        <%= form.label :title %>
          <div class="control">
            <%= form.text_field :title, id: :work_title, class: 'input' %>
          </div>
      </div>
      <div class="field">
        <%= form.label :author %>
          <div class="control">
            <%= form.text_field :author, id: :work_author, class: 'input' %>
          </div>
      </div>
      <div class="field">
        <%= form.label 'Story File' %>
          <div class="control">
            <%= form.file_field :file, id: :work_file %>
          </div>
      </div>
      <div class="actions mt-24">
        <%= form.submit frm_action, class:'button is-primary' %>
      </div>
      <% end %>