<%- title 'Stories' %>
  <section class="section">
    <div class="container">
      <p>
        <%= link_to 'Add New Story', new_work_path, class:'button is-primary' %>
      </p>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Story Document</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @works.each do |work| %>
            <tr>
              <td>
                <%= work.title %>
              </td>
              <td>
                <%= work.author %>
              </td>
              <td>
                <%= link_to 'View Document', work.file.url %>
              </td>
              <td>
                <span class="icon">
                  <%= link_to '', work, class:'button is-link is-small fas fa-eye', alt:'Edit Story' %>
                </span>
              </td>
              <td>
                <span class="icon">
                  <%= link_to '', edit_work_path(work), class:'button is-success is-small fas fa-pen', alt:'Edit Story' %>
                </span>
              </td>
              <td>
                <span class="icon">
                  <%= link_to '', work, class:'button is-danger is-small fas fa-times', alt:'Delete Story', method: :delete, data: { confirm: 'Are you sure?' } %>
                </span>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>

    </div>
  </section>