<section class="section">
  <div class="container">
    <div>
      <p>
        <span class="has-text-weight-bold">Cover letter:</span>
      </p>

      <%= @submission.cover_letter %>
    </div>
    <div class="mt-24">
      <p>
        <span class="has-text-weight-bold">Active:</span>
        <%= @submission.active %>
      </p>
      <p>
        <span class="has-text-weight-bold">Status:</span>
        <%= @submission.status %>
      </p>
    </div>
    <div class="mt-24">
      <p>
        <span class="has-text-weight-bold">Reprint:</span>
        <%= @submission.reprint %>
      </p>

      <p>
        <span class="has-text-weight-bold">Reprint date:</span>
        <%= @submission.reprint_date&.strftime("%B %d, %Y") %>
      </p>
      <p>
        <span class="has-text-weight-bold">Reprint publication:</span>
        <%= @submission.reprint_publication %>
      </p>
    </div>
</section>
<section class="section">
  <div class="container">
    <%= link_to 'Edit Submission', edit_submission_path(@submission) %> |
      <%= link_to 'Back to Submissions', submissions_path %>
  </div>
</section>